.faq__title {
  margin-bottom: 32px;
}

.faq__list__item {
  padding: 30px 0 30px 0;
  border-top: 1px solid #cacaca;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  transition: color 0.3s ease, fill 0.3s ease, background 0.3s ease;
}

.faq__list__item:last-child {
  border-bottom: 1px solid #cacaca;
}

.faq__list__item:focus,
.faq__list__item:hover {
  border-top: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900;
}

.faq__list__item:focus span,
.faq__list__item:hover span {
  color: #ff9900;
}

.faq__list__item:focus path,
.faq__list__item:hover path {
  fill: #fff;
}

.faq__list__item:focus button,
.faq__list__item:hover button {
  background: #ff9900;
}

.faq__list__item:active button {
  transform: rotate(45deg);
}

.faq__question {
  font-size: 24px;
  line-height: 32px;
  color: #333;
  font-weight: 700;
}

.faq__btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

@media (max-width: 1919px) {
  .faq__question {
    font-size: 20px;
  }
}

@media (max-width: 1023px) {
  .faq__question {
    max-width: 570px;
  }
}

@media (max-width: 767px) {
  .faq__title {
    margin-bottom: 16px;
  }
  .faq__list__item {
    padding: 39px 0 39px 0;
  }
  .faq__question {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    max-width: 243px;
  }
  .faq__btn {
    width: 30px;
    height: 30px;
  }
  .faq__btn svg {
    width: 18.6px;
    height: 18.6px;
  }
}
