.hero {
  height: 620px;
}

.hero-content {
  background-image: url("../img/hero.jpeg");
  height: 620px;
  padding: 100px 0 100px 80px;
}

.hero__title {
  width: 827px;
  font-size: 70px;
  line-height: 85px;
  font-weight: 800;
  color: #fff;
}

.hero__description {
  width: 790px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #fff;
  margin-top: 24px;
}

.hero__btn {
  width: 280px;
  height: 78px;
  font-size: 23.46px;
  line-height: 29px;
  font-weight: 700;
  margin-top: 90px;
  outline: none;
  transition: background-color 0.3s ease;
}

.hero__btn:focus,
.hero__btn:hover {
  background-color: rgba(255, 153, 0, 0.7);
}

.hero__btn:active {
  background-color: #e1670e;
}
