.how__title {
  margin-bottom: 50px;
}

.how__list {
  display: flex;
  margin-top: 50px;
}

.how__list__item {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  color: #333;
  outline: none;
  transition: color 0.3s ease;
  cursor: pointer;
}

.how__list__item:not(:last-child) {
  margin-right: 86px;
}

.how__list__item::after {
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  position: absolute;
  left: -5px;
  top: -5px;
  border: 2px solid #ff9900;
}

.how__list__item:focus::after {
  content: "";
}

.how__list__item:hover {
  color: #ff9900;
}

.how__list__item:active {
  color: #e1670e;
}

.item-active {
  color: #ff9900;
}

.how__info {
  display: flex;
  justify-content: space-between;
}

.how__left__title {
  font-size: 24px;
  line-height: 32px;
  color: #333;
  margin-top: 45px;
}

.how__left__description {
  font-size: 16px;
  line-height: 32px;
  color: #333;
  width: 758px;
  margin-top: 8px;
}

.how__button {
  margin-top: 50px;
}

.how__btn {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  width: 175px;
  height: 60px;
  transition: background 0.3s ease;
}

.how__btn:focus,
.how__btn:hover {
  background: #f7b045;
}

.how__btn:active {
  background: #e1670e;
}

.how__right {
  background-image: url("../img/how.jpeg");
  width: 870px;
  height: 460px;
  margin-top: 45px;
}

@media (max-width: 1919px) {
  .how__right {
    width: 437px;
    height: 689px;
  }
  .how__left__description {
    max-width: 437px;
  }
  .how__left__title {
    margin-top: 50px;
  }
  .how__left {
    margin-right: 50px;
  }
  .how__right {
    background-image: url("../img/how1024.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 62px;
  }
  .how__button {
    margin-top: 25px;
  }
}

@media (max-width: 1023px) {
  /* .how__list {
    justify-content: space-between;
  } */
  .how__list__item:not(:last-child) {
    margin-right: 155px;
  }
  .how__info {
    flex-direction: column-reverse;
  }
  .how__right {
    margin-top: 50px;
    background-image: url("../img/how786.jpg");
    background-size: cover;
    background-position: center;
    width: 668px;
    height: 284px;
  }
  .how__left {
    margin-right: 0;
  }
  .how__left__title {
    margin-top: 38px;
  }
  .how__left__description {
    max-width: 667px;
  }
}

@media (max-width: 767px) {
  .how__list {
    margin-top: 16px;
  }
  .how__title {
    margin-bottom: 0;
  }
  .how__list__item {
    font-size: 14px;
    line-height: 17px;
  }
  .how__list__item:not(:last-child) {
    margin-right: 44px;
  }
  .how__right {
    margin-top: 16px;
    width: 290px;
    height: 160px;
  }
  .how__left__title {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 500;
  }
  .how__left__description {
    max-width: 290px;
    font-size: 14px;
    line-height: 28px;
  }
  .how__button {
    margin-top: 16px;
  }
  .how__btn {
    width: 162px;
    height: 42px;
    font-size: 12px;
    line-height: 15px;
  }
}
